body {
    background-color: #EFEFEF;
}


.nav-item{
    display:inline-block;
    padding-right: 2em;
}
.nav{
    background-color: black;
    color: white;
    font-size: large;
}
.nav a{
    color: white;
    text-decoration: none;
}
main{
    width: 75%;
    alignment: center;
    margin: auto;
    border-left: 7px solid white;
    border-right: 7px solid white;
    border-bottom: 7px solid white;
}
.main-header{
    background-color: #E8E8E8;
}
.paragraph{
    margin: auto;
}
.img{
    width: 75%;
    margin: auto;
    background: url(../img/background404.jpg) no-repeat;
    position: absolute;
    left: 400px;
}
.clown{
    position: relative;
    left: 465px;
    bottom: 170px;
}
.info-header{
    margin-left: 10px;
}








/*body {*/
/*    margin: 0;*/
/*    background-color: #EAEAEA;*/
/*    font-family: Arial, sans-serif;*/
/*}*/
/*a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/
/*!*Top Bar*!*/
/*header {*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*    height: 40px;*/
/*    background-color: #333333;*/
/*}*/
/*.nav-top {*/
/*    max-width: 80%;*/
/*    min-width: 900px;*/
/*    margin: 0 auto;*/
/*    height: 40px;*/
/*    font-size: 12px;*/
/*    font-weight: bold;*/
/*}*/
/*!*Match the size of the header and add border on the left*!*/
/*.nav-top a {*/
/*    padding: 17px 12px 9px 12px;*/
/*    border-left: 1px solid #545454;*/
/*    height: 40px;*/
/*}*/
/*!*BBC logo adjustments*!*/
/*#logo {*/
/*    border: none;*/
/*    width: 12%;*/
/*    position: relative;*/
/*    top: 5px;*/
/*}*/
/*!*Sign in image ajustments*!*/
/*#Sign-in{*/
/*    padding-right: 5em;*/
/*}*/
/*#User {*/
/*    position: relative;*/
/*    top: 2px;*/
/*    padding-right: 5px;*/
/*}*/
/*!*Search Bar*!*/
/*form{*/
/*    float: right;*/
/*    line-height: 40px;*/
/*    border-left: 1px solid #545454;*/
/*    padding-left: 10px;*/
/*}*/
/*input {*/
/*    box-sizing: border-box;*/
/*    border: 2px solid white;*/
/*}*/
/*::placeholder {*/
/*    color: black;*/
/*}*/
/*button {*/
/*    position: relative;*/
/*    right: 11px;*/
/*    top: 5px;*/
/*    background: transparent;*/
/*    border: none;*/
/*}*/
/*.search {*/
/*    max-height: 20px;*/
/*    max-width: 20px;*/
/*}*/
/*!*Main Body*!*/

/*.white{*/
/*    background-color: white;*/
/*    padding: 0 7px 7px 7px;*/
/*    max-width: 80%;*/
/*    min-width: 900px;*/
/*    margin: 0 auto;*/
/*}*/
/*main {*/
/*    background-color: #EDEDED;*/
/*    padding: 15px 0 50px 0;*/
/*}*/
/*h2 {*/
/*    font-weight: normal;*/
/*    margin: 0;*/
/*    padding: 0 0 15px 25px;*/
/*}*/

/*!*Inner Section*!*/

/*.main {*/
/*    background-color: #E0E0E0;*/
/*    height: 300px;*/
/*    padding: 10px 0 30px 0;*/
/*    !*margin: 20px 0 40px 0;*!*/
/*}*/

/*!*Inner-Inner Section*!*/

/*article {*/
/*    background-image: url(../img/BBC-bg.png);*/
/*    !*background: no-repeat;*!*/
/*    min-width: 625px;*/
/*    max-width: 625px;*/
/*    max-height: 280px;*/
/*    min-height: 280px;*/
/*    margin: 0 auto;*/
/*    border-radius: 5px;*/
/*}*/
/*.inner {*/
/*    font-size: 12px;*/
/*    width: 70%;*/
/*}*/

/*!*Circle Image*!*/

/*.circle {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background: white;*/
/*    border-radius: 50%;*/
/*    position: relative;*/
/*    right: 50px;*/
/*    top: 60px;*/
/*}*/
/*.small-circle {*/
/*    max-width: 88px;*/
/*    max-height: 88px;*/
/*    border-radius: 50%;*/
/*    position: relative;*/
/*    left: 8px;*/
/*    top: 6px;*/
/*}*/
/*aside {*/
/*    float: right;*/
/*}*/

/*!*Footer*!*/

/*footer {*/
/*    background-color: #646464;*/
/*    color: white;*/
/*    font-size: 12px;*/
/*}*/
/*.nav-bot {*/
/*    float: right;*/
/*    padding: 10px;*/
/*}*/
/*.logo-bot {*/
/*    padding: 15px 0 0 10px;*/
/*}*/
/*p {*/
/*    padding: 10px;*/
/*    margin-bottom: 0;*/
/*}*/