body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
/*Use the following naming convention for the variables bg-info, text-info, bg-success, text-success,*/
.message{
    text-indent: 15px;
    padding:5px;
    border: gray 2px;
    border-radius: .3em;
    width: 90%;
    margin: 0 auto;
}
.message-info{
    background-color: #CDDEFF;
    margin-bottom: 5px;
    color: #4C48A2;
    font-style: bold;
}
.message-success{
    background-color:#CFF3DA;
    margin-bottom: 5px;
    color: #02642C;
    font-style: inherit;

}
.message-warning{
    background-color:#FCFBC9;
    margin-bottom: 5px;
    color: #87730D;
    font-style: inherit;
}
.message-error{
    background-color: #FAD3D7;
    margin-bottom: 5px;
    color: #81182F;
    font-style: inherit;
}